
<head>
    <title>Sobre nós</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/Sobre1.css">
    <link rel="stylesheet" href="~/css/navbar.css" />
    <link rel="stylesheet" href="~/css/Sobre1.css" />

    
</head>

<body>


    <nav class="navbar">
        <a href="/" class="logo">Helping Hearts</a>
        <label for="mobile-menu-toggle" class="mobile-menu-toggle">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </label>
        <ul class="nav-list">
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Sobre nós</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="contato">Contato</a>
            </li>


        </ul>

    </nav>
    <main>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <h1 class="title">Sobre nós</h1>
                <p class="text">
                    A Helping Hearts é uma organização sem fins lucrativos com uma plataforma digital inovadora que conecta
                    apoiadores e pessoas necessitadas de ajuda para melhorar suas vidas. Eles oferecem um método de cadastro
                    exclusivo que permite que os usuários se registrem como apoiadores ou como necessitados, para que eles possam
                    receber suporte personalizado. Os apoiadores podem doar dinheiro, suprimentos ou tempo para ajudar aqueles que
                    precisam. A organização se compromete a oferecer uma experiência de usuário de alta qualidade e a usar todas
                    as doações de maneira eficiente e responsável. Eles convidam todos a se juntar a eles na missão de fazer a
                    diferença na vida das pessoas.
                </p>
                <br>

                <a href="leiamais.html" class="button">Leia mais</a>
            </div>
        </div>
    </div>
    </main>

    <footer class="footer">
        <img src="~/img/About us page-bro.svg" />
        <img src="~/img/LogoNova.png" />
        <p class="TextoCopy"> © Copyright 2022 - Todos os direitos reservados </p>
    </footer>
</body>

